.orderButton {
  position: absolute;
  bottom: 0;
}

mat-list {
  max-height: 309px;
  overflow-y: auto;
}

input {
  max-width: 50px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.space {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
