<!-- Header -->
<mat-toolbar>
<span>My App</span>
<span class="spacer"></span>
<span *ngIf="!userLogged">Hello Guest</span>
<span *ngIf="userLogged">Hello {{username}}</span>
<span *ngIf="userLogged"> | </span>
<span *ngIf="userLogged">{{cash}} $</span>
</mat-toolbar>

<!-- Body -->

<!-- Login form -->
<mat-card *ngIf="!userLogged">
  <form>
    <mat-form-field>
        <input ngModel name="userName" #userName="ngModel" matInput placeholder="Username">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="log(userName)">Login</button>
  </form>
</mat-card>

<!-- Slot Machine -->

<mat-card>
    <mat-grid-list cols="3" rowHeight="2:1" >
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button id="spinner" (click)="spinning()" color="primary" type="submit">Primary</button>
</mat-card>

<!-- Results -->

<mat-card>
  <h1>{{result}}</h1>
</mat-card>
