mat-grid-list {
  margin-top: 0.5%;
  max-height: auto;
}

.notification {
  position: absolute;
  background: antiquewhite;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.image {
  display: contents;
  align-content: center;

}
